body {
    margin: 1000;
    padding: 1000;
    background-color: #f2f2f2;
    display:block;
    flex-direction:initial;
    min-height: 100vh;
}

header, footer {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 0,0%;
    text-align: center;
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex: 1;
}

nav {
    background-color: #ffffff;
    padding: 20px;
    width: 200px;
}

nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ff0000;
    border-radius: 5px;

}

nav a:hover {
    background-color: #ffffff;
}

section {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
}

aside {
    background-color: #00c3ff;
    padding: 20px;
    width: 200px;
}

footer {
    margin-top: auto;
}