html,
body {
    height: 170%;
}

body {
    background-color: rgb(23, 24, 24);
    margin: 0;
    padding: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    color: #385555;
}

.list {
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}


.list-item {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/thumb01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item2 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item3 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/thumb03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item4 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/thumb04.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item5 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/thumb05.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item6 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/thumb06.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item7 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/fenda.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.list-item8 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/yecenario.jpg);
    background-size: 280px;
    background-repeat: no-repeat; 
    background-position-x: 0px;
    background-position-y: -23%;
}

.list-item9 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/TaylorCenario.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -11%;
}

.list-item10 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/pantano.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.list-item11 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/psg.jpg);
    background-size: 335px;
    background-repeat: no-repeat;
}

.list-item12 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/casa1.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -110px;
}

.list-item13 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/drive.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.list-item14 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/explosao.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -55px;
}

.list-item15 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/rota66.jpg);
    background-size: 285px;
    background-repeat: no-repeat;
    background-position-y: -5px;
}

.list-item16 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/casajack.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -7%;
}

.list-item17 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/pngtree-an-office-cubicle-with-many-things-on-it-image_2672430.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.list-item18 {
    flex-basis: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(_imagens/american.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.list-item__imagem img {
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}

.list-item__name {
    margin: 0;
    font-size: 24px;
    color: #385555;
}

.list-item__action {
    display: flex;
    background-color: #e5e5e5;
    padding: 16px;
    justify-content: space-evenly;
    gap: 16px;
}