body {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50%;
    padding: 10px;
}

.search-container {
    text-align: center;
}

img-logo{
    justify-content: left;
}

img {
    justify-content: center;
    align-self: center;
}

.search-bar {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 1px;
    margin-top: -100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.tabela{
    padding: 10%;
    border-radius: 10px;
    box-shadow: 0 10px 20px -6px black;
    display:flex;
    margin: 10%;
    background-color: #ffffff;
    text-align: center;
}

.product {
    border: 10px solid #ffffff;
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

button {
    margin: 5%;
}